
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
         <tr>   
         
        
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        <tbody>
        {{for melon in cart_melon}}    
        <tr>
            <td>{{melon.quantity}}</td>
            <td>{{melon.total_melon_cost}}</td>
            <td>{{melon.price}}</td>
        
        </tr>


          
         </tbody> 
        </thead>
 

    <!-- <h3>Total: $27.00</h3>   -->

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
